* {
    box-sizing: border-box;
}

html body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: Arial;
}

.active {
    color: red;
}

.nav {
    width: 100%;
}

.nav ul {
    margin: 0 auto;
    width: 100%;

}

ul li {
    display: inline-block;
    list-style: none;
    padding: 5px;
    font-size: 20px;
}

nav a{
    display: inline-block;
    padding: 3.5em;
    padding-top: 1.7em;
    padding-bottom: .5em;
    color: black;
    text-decoration: none;
}

.toggle{
    width: 95%;
    padding: 10px 20px;
    background-color: none;
    text-align: right;
    box-sizing: border-box;
    color: white;
    font-size: 20px;
    display: none;
}

.nav a:hover{
    color: red;
    text-decoration: none;
}

.main-nav {
    text-align: center;
    font-size: .8em;
    font-weight: bolder;

}

.container {
color: blue;
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    height: 150px;
    font-size: 1.8em;;
    font-family: 'Sen', sans-serif;
    background-image: url('Images/blackbackground.png');
    color: white;
}

.carousel {
    display: flex;
    max-width: 200px;
    justify-content: center;
    margin: 0 auto;
    padding-top: 50px;
}

.carousel-inner {
    max-width: 100%;
    height:auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.d-block {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}


.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  color: black;    
  font-size: 25px;
    text-transform: uppercase;
    padding-bottom: 500px;
}


.carousel-item:hover .middle {
  opacity: 1;

}

.carousel-item:hover .d-block {
opacity: 0.3;
}

.film-des {
    margin-top: 400px;
    color: black;
}

/*.desc-container{
  text-align: center;
  padding: 10px 20px;
}
*/
@media screen and (min-width: 480px) {
    .toogle {
        display: block;
    }
    .ul {
        width:100%;
        display:none;
    }
    .ul li {
        display: block;
        text-align: center;
    }
    .nav a:hover {
        color: red;
    }
    .active {
        display: block;
    }
    .carousel {
        min-width: 800px;
    }
}

.popular-fm {
    text-align: center;
    font-size: 30px;
    padding-top: 100px;
    text-transform: uppercase;
}
    


footer{
    padding:  40px  40px;
}

.info-container {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    text-decoration: none;

}
.info-container a{
    text-decoration: none;
    display: inline-block;
    font-weight: bolder;
    color: black;
}

.info-container a:hover {
    color: red;
}

.view-more {
    text-align: center;
    text-decoration: none;
    margin-top: 15px;


}
    
.view-more-link:hover{
    background-color: rgb(240, 102, 102);
    text-decoration: none;
    color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.view-more-link {
    color: white;
    text-decoration: none;
    font-size: 15px;
    background-color: black;
    padding: 10px 15px 10px 15px;
    border-radius: 7px;
}

footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
}